{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block content %} 
<style>
  .med{
    width: 40%;
  }
</style>
<!-- carousel1 -->
<div class="head">
  <h2>
      <b>
          Health & Nutrition
      </b>
  </h2>
</div>
<div style="background-color: #e0f3ff;" id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div style=" color: #1b3872;" class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
          <div style="margin-left: 10%;" class="card-group">
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/zn.jpg" alt="">
                      <h5 class="card-title1">Vitamin C & Zinc Sulphate Tablet</h5>
                      <!-- <p class="card-text">Includes 95 Tests</p> -->
                      <p class="card-text1"><small class="text-muted">₹599</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/glucose.jpg" alt="">
                      <h5 class="card-title1">Glucose D Energy Drink</h5>
                      <p class="card-text">Includes 84 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹4500</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/hor.jpg" alt="">
                      <h5 class="card-title1">Horlex Lite</h5>
                      <p class="card-text">Includes 84 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹4500</small></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
          <div style="margin-left: 10%;" class="card-group">
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/ped.jpg" alt="">
                      <h5 class="card-title1">Pediacure</h5>
                      <p class="card-text">Includes 79 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3999</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/joint.jpg" alt="">
                      <h5 class="card-title1">Fast & Up Joint Care</h5>
                      <p class="card-text">Includes 79 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3999</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/holl.jpg" alt="">
                      <h5 class="card-title1">Calcium & Magnesium Tablets</h5>
                      <p class="card-text">Includes 71 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3700</small></p>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- carousel2 -->
<div class="head">
  <h2>
      <b>
          Health Devices
      </b>
  </h2>
</div>
<div style="background-color: #e0f3ff;" id="carouselExampleInterval1" class="carousel slide" data-bs-ride="carousel">
  <div style=" color: #1b3872;" class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
          <div style="margin-left: 10%;" class="card-group">
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/me1.jpg" alt="">
                      <h5 class="card-title1">Digital Thermometer</h5>
                      <!-- <p class="card-text">Includes 95 Tests</p> -->
                      <p class="card-text1"><small class="text-muted">₹599</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/me17.jpg" alt="">
                      <h5 class="card-title1">Miny Steam Vapouriser</h5>
                      <p class="card-text">Includes 84 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹4500</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/oxi.webp" alt="">
                      <h5 class="card-title1">Oximeter</h5>
                      <p class="card-text">Includes 84 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹4500</small></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
          <div style="margin-left: 10%;" class="card-group">
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/bp.webp" alt="">
                      <h5 class="card-title1">Blood Pressure Monitor</h5>
                      <p class="card-text">Includes 79 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3999</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/weigh.webp" alt="">
                      <h5 class="card-title1">Weighing Machine</h5>
                      <p class="card-text">Includes 79 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3999</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/holl.jpg" alt="">
                      <h5 class="card-title1">Calcium & Magnesium Tablets</h5>
                      <p class="card-text">Includes 71 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3700</small></p>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval1"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval1"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- carousel 3 -->
<div class="head">
  <h2>
      <b>
          Covid Essentials
      </b>
  </h2>
</div>
<div style="background-color: #e0f3ff;" id="carouselExampleInterval2" class="carousel slide" data-bs-ride="carousel">
  <div style=" color: #1b3872;" class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
          <div style="margin-left: 10%;" class="card-group">
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/zn.jpg" alt="">
                      <h5 class="card-title1">Vitamin C & Zinc Sulphate Tablet</h5>
                      <!-- <p class="card-text">Includes 95 Tests</p> -->
                      <p class="card-text1"><small class="text-muted">₹599</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/glucose.jpg" alt="">
                      <h5 class="card-title1">Glucose D Energy Drink</h5>
                      <p class="card-text">Includes 84 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹4500</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/hor.jpg" alt="">
                      <h5 class="card-title1">Horlex Lite</h5>
                      <p class="card-text">Includes 84 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹4500</small></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
          <div style="margin-left: 10%;" class="card-group">
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/ped.jpg" alt="">
                      <h5 class="card-title1">Pediacure</h5>
                      <p class="card-text">Includes 79 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3999</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/joint.jpg" alt="">
                      <h5 class="card-title1">Fast & Up Joint Care</h5>
                      <p class="card-text">Includes 79 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3999</small></p>
                  </div>
              </div>
              <div class="card">

                  <div class="card-body">
                    <img class="med" src="static/holl.jpg" alt="">
                      <h5 class="card-title1">Calcium & Magnesium Tablets</h5>
                      <p class="card-text">Includes 71 Tests</p>
                      <p class="card-text1"><small class="text-muted">₹3700</small></p>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock content %} 